body {
    background:url(Imagenes/2.jpg);
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size:1400px;
    background-position:center
}
table {
    color: #fff;
    font-size: 30px;  
      }
p{ 
   color: #fff;
   font-size: 30px;
 }
h1{
   color: #fff;
   font-size: 60px; 
}
footer {
    color: #fff;
    padding: 10px 0px;
    text-align: right;
    
}